* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cell {
    color: #ffffff !important;
    font-size: 15px;   /* Adjust this down if your squares are very small */
    line-height: 1;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;


}


.grid{
    display: flex;
    flex-direction: column;
    font-size: 0;
    align-items: center;
    margin-top: 2%;
    /* place-items: center; */
}

.row {
    margin: 0;
}

.arrowHead {
    background-color: purple;
}

.arrowHead:hover {
    background-color: #800080;
}

.tail {
    background-color: red;
}
