* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cell {
    color: #ffffff !important;
    font-size: 15px;   /* Adjust this down if your squares are very small */
    line-height: 1;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;


}


.grid{
    display: flex;
    flex-direction: column;
    font-size: 0;
    align-items: center;
    margin-top: 2%;
    /* place-items: center; */
}

.row {
    margin: 0;
}

.arrowHead {
    background-color: purple;
}

.arrowHead:hover {
    background-color: #800080;
}

.tail {
    background-color: red;
}


#lockButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#solveButton {
    position: fixed;
    bottom: 60px; /* Adjust this value to position the button above the lock button */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}